<ng-template #content>
    <ng-content />
</ng-template>

@if (isAnchor()) {
    <a
        [href]="href()"
        [class]="['btn', colorClass(), inverseClass(), customClass()]"
        (click)="clickHandler()"
    >
        <ng-container [ngTemplateOutlet]="content" />
    </a>
} @else if (isRouterLink()) {
    <a
        [routerLink]="to()"
        [class]="['btn', colorClass(), inverseClass(), customClass()]"
        (click)="clickHandler()"
    >
        <ng-container [ngTemplateOutlet]="content" />
    </a>
} @else {
    <button
        [type]="type()"
        [disabled]="disabled()"
        [class]="['btn', colorClass(), inverseClass(), customClass()]"
        (click)="clickHandler()"
    >
        <ng-container [ngTemplateOutlet]="content" />
    </button>
}
