# Builds and locals
backend-gin/tmp
backend-gin/backend
backend-axum/target
**/node_modules
**/build
**/dist
**/dist-ssr
**/coverage
**/__pycache__
*.pyc
.cache
**/.mypy_cache
*.local
todo.txt

# Secret .env files
**/express.env
**/fastapi.env
**/gin.env
**/axum.env

# Docker local images
pgsql
mongo
mongo-express
gcs
redis

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.tsbuildinfo

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
