services:
    react:
        build:
            context: .
            dockerfile: ./frontend-react/react.Dockerfile
        container_name: react
        ports:
            - 8000:5173
        volumes:
            - ./frontend-react:/app
            - /app/node_modules
        env_file:
            - ./frontend-react/react.env
        command: npm run dev
        restart: on-failure

    vue:
        build:
            context: .
            dockerfile: ./frontend-vue/vue.Dockerfile
        container_name: vue
        ports:
            - 8001:5173
        volumes:
            - ./frontend-vue:/app
            - /app/node_modules
        env_file:
            - ./frontend-vue/vue.env
        command: npm run dev
        restart: on-failure

    svelte:
        build:
            context: .
            dockerfile: ./frontend-svelte/svelte.Dockerfile
        container_name: svelte
        ports:
            - 8002:5173
        volumes:
            - ./frontend-svelte:/app
            - /app/node_modules
        env_file:
            - ./frontend-svelte/svelte.env
        command: npm run dev
        restart: on-failure

    express:
        build:
            context: .
            dockerfile: ./backend-express/express.Dockerfile
        container_name: express
        ports:
            - 5000:5000
        volumes:
            - ./backend-express:/app
            - /app/node_modules
        env_file:
            - ./backend-express/express.env
        depends_on:
            - pgsql
            - test-pgsql
            - mongo1
            - mongo2
            - gcs
        command: npm start
        restart: on-failure

    fastapi:
        build:
            context: .
            dockerfile: ./backend-fastapi/fastapi.Dockerfile
        container_name: fastapi
        ports:
            - 5001:5001
        volumes:
            - ./backend-fastapi:/app
        env_file:
            - ./backend-fastapi/fastapi.env
        depends_on:
            - pgsql
            - test-pgsql
            - mongo1
            - mongo2
            - gcs
        command: honcho start
        restart: on-failure

    gin:
        build:
            context: .
            dockerfile: ./backend-gin/gin.Dockerfile
        container_name: gin
        ports:
            - 5002:5002
        volumes:
            - ./backend-gin:/app
        env_file:
            - ./backend-gin/gin.env
        depends_on:
            - pgsql
            - test-pgsql
            - mongo1
            - mongo2
            - gcs
        command: air
        restart: on-failure

    axum:
        build:
            context: .
            dockerfile: ./backend-axum/axum.Dockerfile
        container_name: axum
        ports:
            - 5003:5003
        volumes:
            - ./backend-axum:/app
        env_file:
            - ./backend-axum/axum.env
        depends_on:
            - pgsql
            - test-pgsql
            - mongo1
            - mongo2
            - gcs
        command: cargo watch -x run
        restart: on-failure

    pgsql:
        build:
            context: .
            dockerfile: ./pgsql.Dockerfile
        container_name: pgsql
        ports:
            - 5432:5432
        volumes:
            - ./pgsql:/var/lib/postgresql
        environment:
            POSTGRES_PASSWORD: dev
            POSTGRES_USER: dev
            POSTGRES_DB: dev

    test-pgsql:
        build:
            context: .
            dockerfile: ./pgsql.Dockerfile
        container_name: test-pgsql
        ports:
            - 5433:5432
        volumes:
            - pgsql-test:/var/lib/postgresql
        environment:
            POSTGRES_PASSWORD: test
            POSTGRES_USER: test
            POSTGRES_DB: test

    pgadmin:
        container_name: pgadmin
        image: dpage/pgadmin4
        environment:
            PGADMIN_DEFAULT_EMAIL: mslimbeji@gmail.com
            PGADMIN_DEFAULT_PASSWORD: very_secret
        depends_on:
            - pgsql
        volumes:
            - pgadmin:/var/lib/pgadmin
        ports:
            - 5050:80
        logging:
            driver: 'none'

    mongo1:
        image: mongo:latest
        container_name: mongo1
        ports:
            - 27017:27017
        volumes:
            - ./mongo/1:/data/db
        command: ['mongod', '--replSet', 'rs0', '--bind_ip_all']
        restart: on-failure

    mongo2:
        image: mongo:latest
        container_name: mongo2
        ports:
            - 27018:27017
        volumes:
            - ./mongo/2:/data/db
        command: ['mongod', '--replSet', 'rs0', '--bind_ip_all']
        restart: on-failure

    mongo-setup:
        image: mongo:latest
        container_name: mongo-setup
        depends_on:
            - mongo1
            - mongo2
        entrypoint: >
            bash -c "
                sleep 5;
                echo 'rs.initiate({
                _id: \"rs0\",
                members: [
                    { _id: 0, host: \"mongo1:27017\" },
                    { _id: 1, host: \"mongo2:27017\" }
                ]
                })' | mongosh --host mongo1:27017
            "

    mongo-express:
        image: mongo-express:latest
        container_name: mongo-express
        ports:
            - 9000:8081
        volumes:
            - ./mongo-express:/app/config/
        environment:
            ME_CONFIG_MONGODB_URL: mongodb://mongo1:27017,mongo2:27017/?replicaSet=rs0
            ME_CONFIG_BASICAUTH: false
        depends_on:
            - mongo-setup
        restart: on-failure

    gcs:
        image: fsouza/fake-gcs-server
        container_name: gcs
        ports:
            - 4443:4443
        volumes:
            - ./gcs:/storage
        command:
            [
                '-scheme',
                'http',
                '-public-host',
                'gcs:4443',
                '-external-url',
                'http://gcs:4443',
                '-backend',
                'filesystem',
                '-filesystem-root',
                '/storage',
            ]
        restart: on-failure

    redis:
        image: redis:6.2-alpine
        container_name: redis
        ports:
            - 6379:6379
        volumes:
            - ./redis:/data
        command: redis-server --save 20 1 --loglevel warning
        restart: on-failure

    redisinsight:
        image: redislabs/redisinsight:latest
        container_name: redisinsight
        volumes:
            - redisinsight:/data
        ports:
            - 9001:5540
        restart: on-failure

volumes:
    pgadmin:
    redisinsight:
    pgsql-test:
