# FastApi
uvicorn
fastapi
python-multipart

# Async
httpx

# Encryption
python-jose[cryptography]
types-python-jose
bcrypt

# PostgreSQL & Redis
sqlalchemy[asyncio]
asyncpg
pgvector
alembic
redis

# Deprecated
beanie
motor

# Tasks
dramatiq[redis]
apscheduler

# GCP
google-cloud-storage

# Schemas
pydantic[email]>=2.4
pydantic-settings
