# FastApi
uvicorn
fastapi
python-multipart

# Async
httpx

# Encryption
python-jose[cryptography]
types-python-jose
bcrypt

# MongoDB & Redis
beanie
motor
redis

# DB Mocks
testcontainers

# Tasks
dramatiq[redis]
apscheduler

# GCP
google-cloud-storage

# Schemas
pydantic[email]>=2.4
pydantic-settings
