<div class="center">
    <!-- @if (httpData().error?.message) {
        <app-http-error
            header="Credentials not valid!"
            [error]="httpData().error"
            (close)="close()"
        />
    } -->

    <div class="auth-form">
        <!-- @if (httpData().loading) {
            <app-loading-spinner as-overlay/>
        } -->

        <h2>{{ text().requiredText }}</h2>
        <hr />
        <form (submit)="onSubmit($event)">
            @if (!isLoginMode()) {
                <app-input
                    [(value)]="fields()['username'].value"
                    [isValid]="fields()['username'].valid"
                    element="input"
                    id="username"
                    label="Username"
                    type="test"
                    errorText="Please enter a valid username of at least 8 characters"
                />
                <app-image-upload
                    [(data)]="fields()['image'].value"
                    [isValid]="fields()['image'].valid"
                    id="username"
                    label="Username"
                    type="test"
                    errorText="Please enter a valid username of at least 8 characters"
                />
            }
            <app-input
                [(value)]="fields()['email'].value"
                [isValid]="fields()['email'].valid"
                element="input"
                id="email"
                label="E-mail"
                type="email"
                errorText="Please enter a valid email"
            />
            <app-input
                [(value)]="fields()['password'].value"
                [isValid]="fields()['password'].valid"
                element="input"
                id="password"
                label="Password"
                type="password"
                errorText="Please enter a password with at least 10 characters"
            />
            <div class="buttons">
                <app-button
                    [disabled]="!formValid()"
                    color="secondary"
                    type="submit"
                >
                    {{ text().verb }}
                </app-button>
                <app-button
                    (click)="onSwitchModeHandler()"
                    type="button"
                    color="secondary"
                    [inverse]="true"
                >
                    {{ text().switchText }}
                </app-button>
            </div>
        </form>
    </div>
</div>