<div>
    @if (backend.httpData().error?.message) {
        <app-http-error
            header="Credentials not valid!"
            [error]="backend.httpData().error"
            (closed)="backend.clear()"
        />
    }

    <div class="auth-form">
        @if (backend.httpData().loading) {
            <app-loading-spinner [asOverlay]="true"/>
        }

        <h2>{{ text().requiredText }}</h2>
        <hr />
        <form [formRoot]="authForm" (submit)="onSubmit($event)">
            @if (!isLoginMode()) {
                <app-input
                    [field]="authForm.username"
                    element="input"
                    id="username"
                    label="Username"
                    type="test"
                />
                <app-image-upload
                    [field]="authForm.image"
                    id="image"
                    color="secondary"
                    button-text="Upload your Avatar"
                    errorText="Please upload a valid image"
                />
            }
            <app-input
                [field]="authForm.email"
                element="input"
                id="email"
                label="E-mail"
                type="email"
            />
            <app-input
                [field]="authForm.password"
                element="input"
                id="password"
                label="Password"
                type="password"
            />
            <div class="buttons">
                <app-button
                    [disabled]="authForm().invalid()"
                    color="secondary"
                    type="submit"
                >
                    {{ text().verb }}
                </app-button>
                <app-button
                    (click)="onSwitchModeHandler()"
                    type="button"
                    color="secondary"
                    [inverse]="true"
                >
                    {{ text().switchText }}
                </app-button>
            </div>
        </form>
    </div>
</div>