@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

@import "tailwindcss";

/* UI Colors */
@theme {
    --color-background: var(--color-white);
    --color-background-contrast: var(--color-stone-50);
    --color-background-highlight: var(--color-stone-100);

    --color-secondary: var(--color-pink-500);
    --color-secondary-highlight: var(--color-pink-600);
    --color-secondary-background: var(--color-pink-50);

    --color-danger: var(--color-red-500);
    --color-danger-highlight: var(--color-red-600);
    --color-danger-background: var(--color-red-50);

    --color-disabled-bg: var(--color-gray-300);
    --color-disabled-text: var(--color-gray-500);
    --color-disabled-border: var(--color-gray-300);

    --color-backdrop: var(--color-stone-300);

    --color-txt: var(--color-stone-50);
    --color-txt-d0: var(--color-stone-300);
    --color-txt-d1: var(--color-stone-500);
    --color-txt-d2: var(--color-stone-700);

    --color-primary: var(--color-sky-400);
    --color-primary-d1: var(--color-sky-600);
    --color-primary-d2: var(--color-sky-800);
    --color-primary-l1: var(--color-sky-300);
    --color-primary-l2: var(--color-sky-50);
}

/* Variants */
@custom-variant error (&:where(.error *));

/* Global Styles */
@layer base {
    * {
        @apply box-border;
    }

    html {
        @apply font-sans;
    }

    body {
        @apply m-0 bg-background;
    }

    main {
        @apply mt-20;
    }
}

@layer components {
    .card {
        @apply relative m-0 shadow-lg rounded-lg;
        @apply bg-white overflow-hidden;
        @apply hover:translate-x-1 hover:shadow-xl transition-all duration-300;
    }
}

/* Components CSS */
@import "./components/form/Button.css";
@import "./components/form/Input.css";
@import "./components/form/ImageUpload.css";

@import "./components/navigation/MainNavigation.css";
@import "./components/navigation/Navlinks.css";
@import "./components/navigation/SideDrawer.css";

@import "./components/ui/Avatar.css";
@import "./components/ui/Backdrop.css";
@import "./components/ui/LoadingSpinner.css";
@import "./components/ui/Map.css";
@import "./components/ui/Modal.css";

@import "./components/user/AuthForm.css";
@import "./components/user/UserItem.css";
@import "./components/user/UsersList.css";

@import "./components/places/PlaceItem.css";
@import "./components/places/PlacesList.css";
@import "./components/places/PlaceCreateForm.css";
@import "./components/places/PlaceUpdateForm.css";
