@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

@import "tailwindcss";

/* UI Colors */
@theme {
    --color-surface: var(--color-white);
    --color-surface-alt: var(--color-stone-50);
    --color-surface-on: var(--color-stone-100);

    --color-pen: var(--color-stone-700);
    --color-pen-muted: var(--color-stone-500);
    --color-pen-rule: var(--color-stone-300);
    --color-pen-inverse: var(--color-stone-50);

    --color-primary: var(--color-sky-400);
    --color-primary-on: var(--color-sky-600);
    --color-primary-surface: var(--color-sky-50);

    --color-secondary: var(--color-pink-500);
    --color-secondary-on: var(--color-pink-600);
    --color-secondary-surface: var(--color-pink-50);

    --color-success: var(--color-teal-500);
    --color-success-on: var(--color-teal-600);
    --color-success-surface: var(--color-teal-50);

    --color-warning: var(--color-orange-500);
    --color-warning-on: var(--color-orange-600);
    --color-warning-surface: var(--color-orange-50);

    --color-danger: var(--color-red-500);
    --color-danger-on: var(--color-red-600);
    --color-danger-surface: var(--color-red-50);

    --color-disabled-surface: var(--color-gray-300);
    --color-disabled-text: var(--color-gray-500);
    --color-disabled-border: var(--color-gray-300);

    --color-backdrop: var(--color-stone-300);
}

/* Variants */
@custom-variant error (&:where(.error *));

/* Global Styles */
@layer base {
    * {
        @apply box-border;
    }

    html {
        @apply font-sans;
    }

    body {
        @apply m-0 bg-surface;
    }

    main {
        @apply mt-20;
    }
}

@layer components {
    .card {
        @apply relative m-0 shadow-lg rounded-lg;
        @apply bg-white overflow-hidden;
        @apply hover:translate-x-1 hover:shadow-xl transition-all duration-300;
    }
}

/* Components CSS */
@import "./components/form/Button.css";
@import "./components/form/Input.css";
@import "./components/form/ImageUpload.css";

@import "./components/navigation/MainNavigation.css";
@import "./components/navigation/Navlinks.css";
@import "./components/navigation/SideDrawer.css";

@import "./components/ui/Avatar.css";
@import "./components/ui/Backdrop.css";
@import "./components/ui/LoadingSpinner.css";
@import "./components/ui/Map.css";
@import "./components/ui/Modal.css";

@import "./components/user/AuthForm.css";
@import "./components/user/UserItem.css";
@import "./components/user/UsersList.css";

@import "./components/places/PlaceItem.css";
@import "./components/places/PlacesList.css";
@import "./components/places/PlaceCreateForm.css";
@import "./components/places/PlaceUpdateForm.css";
