@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

@import "tailwindcss";

* {
    box-sizing: border-box;
}

html {
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 0;
    background: white;
}

main {
    margin-top: 5rem;
}

@custom-variant error (&:where(.error *));

@layer components {
    .btn {
        @apply inline-block px-6 py-2 text-base rounded-md font-medium transition-colors duration-200 focus:outline-none;
        @apply bg-pink-600 hover:bg-pink-500 text-white border border-pink-600;
    }

    .btn-disabled {
        @apply bg-gray-300 text-gray-500 border-gray-300 cursor-not-allowed;
    }

    .btn-inverse {
        @apply bg-transparent hover:bg-pink-500 text-pink-600 hover:text-white border border-pink-600;
    }

    .btn-inverse-disabled {
        @apply bg-gray-300 text-gray-500 border-gray-300 cursor-not-allowed;
    }

    .btn-danger {
        @apply bg-red-800 hover:bg-red-600 text-white border-red-800;
    }

    .btn-danger-disabled {
        @apply bg-gray-300 text-gray-500 border-gray-300 cursor-not-allowed;
    }
}
