<div class="input-container" [class]="containerClass()">
    <label [for]="id()">{{ label() }}</label>

    @if (isTextarea()) {
        <textarea
            [value]="value()"
            [disabled]="disabled()"
            [id]="id()"
            [class]="inputClass()"
            [rows]="rows()"
        ></textarea>
    } @else {
        <input
            [value]="value()"
            [disabled]="disabled()"
            [id]="id()"
            [class]="inputClass()"
            [type]="type()"
            [step]="step()"
            [placeholder]="placeholder()"
        />
    }

    <p class="error-text" [class.invisible]="!showError()">
        {{ errorMessage() }}
    </p>
</div>
